.img-background{
    .carousel-caption{
        font-size: 6em;
        text-shadow: 2px 2px 2px $color-primary;
    }
}

.lists{
    .filter{
        min-width: 300px;
        min-height: 500px;
    }
}